<form>
  <p>Please select a genre by typing a number</p>
  <ul>
    <li>1) Horror</li>
    <li>2) Romance</li>
    <li>3) Horror</li>
  </ul>
  <input type="number" name="genre" placeholder="please type a number">
  <input type="submit" value="DO IT!">
</form>
