<html>
<head>
  <title>Tweetlibs</title>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/application.css">
</head>
<body>
  <h1>Welcome to Tweetlibs</h1>
  <p>In Tweetlibs you will select tweets to use as the dialogue in a story...</p>
  <p>with hilarious consequences.</p>
  <%= yield %>
</body>
</html>